:root {
  --primary-color: #28539f;
  --primary-dark: #0f2140;
  --danger-color: #cc0000;
  --danger-dark: #800000;
  --grey-accent: #c0c5c1;
  --grey-accent-light: #e0e5e1;
  --off-white: #fafafa;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* background-color: var(--primary-color); */
}

h1,
h2,
h3,
p,
a,
label,
input,
select,
textarea,
button {
  font-family: "Open Sans", sans-serif;
}

.danger-button {
  background-color: #dd1111;
  color: white;
}

/* To color an SVG green */
.filter-green {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

.filter-white {
  filter: invert(98%) sepia(100%) saturate(7%) hue-rotate(182deg)
    brightness(101%) contrast(100%);
}

/* footer {
  width: calc(100vw - 200px);
  height: 100px;
  margin: 100px 0 0 0;
  padding: 0 100px 0 100px;
  background-color: var(--grey-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p,
footer a {
  color: white;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}

footer a:hover {
  color: var(--primary-color);
  cursor: pointer;
} */
